.social-media-container {
  flex-direction: column;
  max-width: 300px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1vw;
  margin-left: 1vw;
}

.padding-for-button {
  padding-top: 12px;
}

#platformDropdown {
  width: 250px;
  color: black;

  .react-select__control {
    border: 1px solid #2e59a3;
    border-radius: 4px;
  }


  .react-select__menu {
    max-height: 20px;
    overflow-y: auto;
    z-index: 9999;
  }

  .platform-Dropdown-options {
    display: flex;
    align-items: center;
    color: #fff;
  }


  .platform-Dropdown-options .icon-container {
    width: 20px;
    height: 20px;
  }

  .platform-Dropdown-options .icon-container svg {
    width: 100%;
    height: 100%;
  }

  .platform-Dropdown-options > div {
    margin-right: 8px;
  }

  .platform-Dropdown-options > div:last-child {
    margin-right: 0;
  }
}

.button-and-tooltip-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.tooltip-info-button-socialMedia{
  justify-content: center;
  margin-top: 4.5px;
}
