input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.create-trip-container {
  position: absolute;
  margin-top: 150px;
  flex-direction: column;
  align-items: center;
  height: calc((100vh) - 200px);
  overflow-y: auto;
  width: 85%;
}

.create-trip-form-container {
  margin-top: 1vw;
  width: 40vw;
  padding: 50px;
  background-color: #333;
  border-radius: 3vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  left: 30vw;
  z-index: 1;
}

.create-trip-form-container-nextto {
  display: flex;
  gap: 16px;
}

.create-trip-form-container-nextto > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

p {
  font-size: 1.25rem;
  padding-top: 25px;
}

@media screen and (max-width: 1920px) {
  .create-trip-form-container {
    width: 40vw;
    padding: 50px;
    background-color: #333;
    border-radius: 3vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    left: 30vw;
    z-index: 1;
    margin-top: 1vw;
  }
}
.container-for-error-and-button{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  scale: 1.5;
}.input-holder-for-spinButton-and-Input {
   position: relative;
   display: flex;
   align-items: center;
 }

.input-holder-for-spinButton-and-Input input {
  width: 100%;
}

.button-holder-spinButtons {
  position: absolute;
  right: 15px;
  display: flex;
  flex-direction: column;
  z-index: 99;
  top:2.5px;
}

.button-style-spin-buttons {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  color: white;

  &:hover{
    color:#125f8d;
    transition: 0.3s;
  }
}

.container-for-error-and-button {
  display: flex;
  align-items: center;
}
