* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-form-container {
  width: 40vw;
  margin: 0 auto;
  padding: 50px;
  background-color: #333;
  border-radius: 3vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 12.5vw;
  left: 30vw;
  z-index: 1;

}

