.travel-carousel {
  top: 99vh;
  width: 100%;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 45px;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding: 25px;
}

.travel-card {
  flex: 0 0 calc(30% - 20px);
  max-width: calc(30% - 20px);
  padding: 10px;
  text-align: center;
  border-radius: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content {
  position: relative;
  text-align: center;
  height: 450px;
  border-radius: 3vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.card-content:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;

  p {
    color: var(--the-dark-blue-of-the-side-color);
    transition: color 0.35s ease-in-out;
  }
}

.travel-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  font-size: 4rem;
  border-radius: 3vw;
}

.travel-card img {
  max-width: 100%;
}

.carousel-button {
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--font-color);

  &:hover{
    color:var(--the-dark-blue-of-the-side-color);
    transition: 0.3s;
  }
}

.prev-button {
  transform: scaleX(-1);
  margin-right: 20px;
}

.travel-image {
  width: 10000px; //sketchy shit!! But well... it works...
  height: 100%;
  object-fit: cover;
  border-radius: 3vw;
}
