.linked-social-media-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 16px;
}

.linked-media-item {
  border: 1px solid var(--font-color);
  padding: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;

  .icon-container {
    font-size: 25px;
    margin-right: 10px;
    color: var(--the-dark-blue-of-the-side-color);
  }
}
